.plusIcon {
    width:200px;
}

.point-card-container {
    flex-grow: 1;  
}

.point-card-big {
    width:90vw;
}

.point-name {
    flex: 1;
    flex-shrink: 0;
}

.small-point-card {
    height:100px;
}