/* Migrated from pages/journeys/[id]/styles.css */
.plusIcon {
    width:200px;
}

.point-card-container {
    flex-grow: 1;  
}

.point-card-big {
    width:90vw;
}

.point-name {
    flex: 1;
    flex-shrink: 0;
}

.point-memoItem {
    flex: 1;
    flex-shrink: 0;
    font-size: 0.8em;
}

.small-point-card {
    height:100px;
}
